name: Deploy Next.js SSR to Azure Web App

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout du code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Installer Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      # 3️⃣ Installer les dépendances et builder
      - name: Install dependencies and build
        working-directory: ./frontend
        run: |
          npm install
          npm run build

      # 4️⃣ Connexion à Azure
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_FRONT_CLIENTID }}",
              "clientSecret": "${{ secrets.AZURE_FRONT_CLIENTSECRET }}",
              "subscriptionId": "${{ secrets.AZURE_FRONT_SUBSCRIPTION }}",
              "tenantId": "${{ secrets.AZURE_FRONT_TENANTID }}"
            }

      # 5️⃣ Déploiement direct avec Azure CLI
      - name: Deploy project via Azure CLI
        run: |
          az webapp up \
            --name Inventory-pro-front \
            --resource-group InventoryProRG \
            --location switzerlandnorth \
            --sku F1 \
            --plan InventoryProPlan \
            --src-path ./frontend


