name: Build and deploy Frontend Next.js SSR to Azure Web App

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout du code
      - uses: actions/checkout@v4

      # 2️⃣ Installer Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      # 3️⃣ Installer les dépendances et build
      - name: Install dependencies + Build
        working-directory: ./frontend
        run: |
          npm ci
          npm run build

      # 4️⃣ Azure login
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_FRONT_CLIENTID }}",
              "clientSecret": "${{ secrets.AZURE_FRONT_CLIENTSECRET }}",
              "subscriptionId": "${{ secrets.AZURE_FRONT_SUBSCRIPTION }}",
              "tenantId": "${{ secrets.AZURE_FRONT_TENANTID }}"
            }

      # 5️⃣ Déployer directement le frontend
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "inventory-pro-01"
          package: ./frontend
          scm-do-build-during-deployment: true
