name: Build and deploy Backend Node.js app to Azure Web App - Inventory-pro

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: ./backend
        run: npm install

      - name: Zip artifact for deployment
        run: |
          cd backend
          zip -r ../backend.zip .

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: backend-artifact
          path: backend.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: production

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: backend-artifact

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID_BACK }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID_BACK }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          auth-type: SERVICE_PRINCIPAL
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET_BACK }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: Inventory-pro   # ✔️ le bon nom de ton App Service
          package: backend.zip
